<ion-popover-view class="my-popover">
    <ion-header-bar>
      <h1 class="title">Popover Title</h1>
    </ion-header-bar>
    <ion-content>
	<p >
     
     <!--<button ng-click="addFavorite(dish.id)"> Add to Favorite ?</button>-->

     <button class="button button-calm button-clear" ng-click="addFavorite(dish.id)"> Add to Favorite </button><br />
    

     <button class="button button-calm button-clear" ng-click="addComment"> Add a Comment </button><br />
	
	</p>
    </ion-content>
  </ion-popover-view>
